google-chrome/

# Ignore VS Code cache
Code/*

# Keep VS Code configuration files
!Code/User/settings.json
!Code/User/keybindings.json
!Code/User/snippets/
!Code/User/tasks.json
!Code/User/extensions.json

# Ignore BTOP Log Files
btop/*.log
btop/*.log.*
